composer.phar
composer.lock
/vendor/
/public/bower_components/
/.vscode
env.php
_site
.sass-cache
.jekyll-metadata

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
